h1 {
    text-align: center;
    color: white;
    background-color: darkcyan;
    padding: 7px;
    margin: 0;
}
        
button {
    cursor: pointer;
    padding: 5px;
    background-color: teal;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px; 
}
        
.round {
    border-radius: 50px; 
    padding: 7px;
}
        
#post {
    text-align: left;
    float: left;
    font-family: "Times New Roman", "Arial", sans-serif;
}
        
textarea {
    width: 100%;
    height: 10vh;
    min-height: 60px;
}
        
.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}